.form-new {
  background-color: #ffffff;
  color: black;
  margin-top: 20%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  font-family: 'camiloFont';
  border: 1px solid #000000;
  font-size: 2.5rem;
}

h1 {
  font-family: 'camiloFont';
  font-size: 3.5rem;
}

.style_image {
  width: 100%;
  max-width: 350px;
  margin-top: 48px;
}

.deadline {
  width: 100%;
  max-width: 280px;
}

.categorydesign {
  margin-left: 20px;
}

.select2-container--default{
  width: 50% !important;
}

.form-control {
  font-size: 2rem;
}

.btn {
  font-size: 2.5rem;
}

@media (max-width: 768px) {

  .form-new,
  .new_instructions {
    border-radius: 10px;
  }

  .form-control {
    width: 100%;
  }

  .deadline {
    width: 100%;
  }
}
