<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/camilogzlez/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <%= link_to about_path do  %>
      <p>About</p>
  <% end %>
</div>
