<div class="footer">
  <div class="footer-links">
      <%= link_to href="https://www.instagram.com/camilogzlez/", target: "_blank" do %>
    <%= image_tag "Logo instagram.png"%>
  <% end %>
  </div>
  <%= link_to about_path do  %>
      <p>About</p>
  <% end %>
</div>
