<header class="page-header">
  <nav>
    <div class="trigger-menu-wrapper">
        <div class="logo">
          <%= link_to "#", class: "navbar-brand" do %>
            <%= image_tag "header/logo.png", style:"width: 100%" %>
          <% end %>
        </div>
       
          <div class= "social">
       <a href="https://www.instagram.com/camilogzlez/"target="_blank"><i class="fab fa-instagram"></i></a>
      <button class="trigger-menu">
       <div>
           </div>
        <svg width="12" height="12" viewBox="0 0 24 24">
          <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" />
        </svg>
        <span>CATEGORIES</span>
      </button>
    </div>
    </div>


    <ul class="menu">
      <li>
        <a href="">STREET</a>
        </li>
          <li>
        <a href="">TRAVEL</a>
         </li>
          <li>
        <a href="">NATURE</a>
         </li>
          <li>
        <a href="">PORTRAIT</a>
         </li>
    </ul>
  </nav>
</header>