<div class="about-container">
    <%= image_tag 'profile.png', alt: 'Profile Photo', class: 'profile-img' %>

    <p>CAMILO GONZALEZ</p>
    <p>Through my project, Slowwave, I want to share my perspective on moments, people, and nature that I'am fortunate to witness. Each image captures memories and curiosity, like riding a wave in slow motion. I hope you enjoy these visual stories.</p>
    <p>Photographer - Web Developer </p>
    <%# <div class="social-links">
        <a href="#" target="_blank">🔗 LinkedIn</a>
        <a href="#" target="_blank">📷 Instagram</a>
    </div> %>
</div>
