

<div class ="containersup">


  <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?street" alt="street">
      </div>
    </div>
  </div>


  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?men" alt="men">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?calle" alt="calle">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?travel" alt="travel">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?motorbike" alt="motorbike">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?running" alt="running">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?beach" alt="beach">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?history" alt="historykidrunning">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?building" alt="building">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?trecking" alt="treckingbuilding">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?nature" alt="nature">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?life" alt="lifenature">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?hippie" alt="street">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?punk" alt="punk">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?brazil" alt="brazil">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?old" alt="old">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?rainbow" alt="rainbow">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?party" alt="party">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?horse" alt="horse">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?race" alt="racehorse">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?argentina" alt="argentina">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?woman" alt="woman">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?street" alt="street">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?market" alt="market">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?desert" alt="desert">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?wild" alt="wild">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?sea" alt="sea">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?surf" alt="surfsea">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?mountain" alt="mountain">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?portrait" alt="portrait">
      </div>
    </div>
  </div>

  
  <div class="gallery-container">
    <div class="gallery-item">
      <div class="image">
        <img src="https://source.unsplash.com/1600x900/?bike" alt="bike">
      </div>
    </div>
  </div>

</div>






  <%# <div class="gallery-container">
    <% @photos.each do |photo| %>
      <%# <div class="gallery-item">
        <div class="image">
          <%= cl_image_tag photo.photo.key, alt: "photo"%>
        <%# </div>
      </div>
    <% end %>
  <%# </div> %> 

