

<div class ="containersup">


  <div class="gallery-container w-3 h-3">
    <div class="gallery-item">
      <div class="index-image">

        <%# <a href="https://unsplash.it/1200/768.jpg?image=251"> %>
                <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1668477047/SLOWWAVE/DSCF4104_vzmt4k.jpg" class="img-fluid">
            </a>
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-3">
    <div class="gallery-item">
      <div class="index-image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1668477075/SLOWWAVE/DSCF4110_hvflr1.jpg" alt="men">
      </div>
    </div>
  </div>


  <div class="gallery-container w-5 h-3">
    <div class="gallery-item">
      <div class="index-image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1668477373/SLOWWAVE/DSCF4165_zq2epp.jpg" alt="calle">
      </div>
    </div>
  </div>


  <div class="gallery-containerc w-1 h-3"">
    <div class="gallery-item">
      <div class="index-image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1668477601/SLOWWAVE/DSCF3490_fnlylm.jpg" alt="travel">
      </div>
    </div>
  </div>


  <div class="gallery-container w-2 h-3">
    <div class="gallery-item">
      <div class="index-image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391563/SLOWWAVE/DSCF4057_upivet.jpg" alt="motorbike">
      </div>
    </div>
  </div>


  <div class="gallery-container w-4 h-3">
    <div class="gallery-item">
       <div class="index-image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391566/SLOWWAVE/DSCF4038_ca16zr.jpg" alt="running">
      </div>
    </div>
  </div>


  <div class="gallery-container  w-6 h-1">
    <div class="gallery-item">
      <div class="index-image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391569/SLOWWAVE/DSCF3395-1_editada_mvowdh.jpg" alt="beach">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
      <div class="index-image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391576/SLOWWAVE/DSCF3439_o73xxg.jpg" alt="historykidrunning">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-3">
    <div class="gallery-item">
      <div class="index-image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391583/SLOWWAVE/Camilo_Zap_editada_Cancion_4_tlmdqw.jpg" alt="building">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
       <div class="index-image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391587/SLOWWAVE/DSCF4184_ktws9l.jpg" alt="treckingbuilding">
      </div>
    </div>
  </div>


  <div class="gallery-container w-2 h-1">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391597/SLOWWAVE/DSCF4219_qjvat8.jpg" alt="nature">
      </div>
    </div>
  </div>


  <div class="gallery-container w-1 h-1">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391605/SLOWWAVE/walkingman_kinv7i.jpg" alt="lifenature">
      </div>
    </div>
  </div>


  <div class="gallery-container w-2 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391611/SLOWWAVE/DSCF4234_qz5stc.jpg" alt="street">
      </div>
    </div>
  </div>


  <div class="gallery-container w-2 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391615/SLOWWAVE/DSCF4320_vydqhx.jpg" alt="punk">
      </div>
    </div>
  </div>


  <div class="gallery-container w-2 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391620/SLOWWAVE/DSCF4136_oresoe.jpg" alt="brazil">
      </div>
    </div>
  </div>


  <div class="gallery-container w-4 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391633/SLOWWAVE/DSCF4139_ncievt.jpg" alt="old">
      </div>
    </div>
  </div>


  <div class="gallery-container w-2 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391627/SLOWWAVE/Camilo_Tp_7_Mate_1_sx3s9i.jpg" alt="rainbow">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391625/SLOWWAVE/7_l7atrc.jpg" alt="party">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391638/SLOWWAVE/DSCF4273_k4jm5x.jpg" alt="horse">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391772/SLOWWAVE/Muestra_4_lhns0l.jpg" alt="racehorse">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391671/SLOWWAVE/DSCF4043_cjgebi.jpg" alt="argentina">
      </div>
    </div>
  </div>


  <div class="gallery-container w-6 h-1">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391679/SLOWWAVE/DSCF4195_editada_arsbfd.jpg" alt="woman">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391788/SLOWWAVE/DSCF4198_jiiilg.jpg" alt="street">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678574803/SLOWWAVE/DSCF4094editada_inr4qe.jpg" alt="market">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391689/SLOWWAVE/DSCF4150_editada_vomyve.jpg" alt="desert">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-1">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391710/SLOWWAVE/DSCF4296_qtjeje.jpg" alt="wild">
      </div>
    </div>
  </div>


  <div class="gallery-container w-2 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391751/SLOWWAVE/DSCF4587_sm4lnh.jpg" alt="sea">
      </div>
    </div>
  </div>


  <div class="gallery-container w-3 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391713/SLOWWAVE/DSCF4137_jdgihj.jpg" alt="surfsea">
      </div>
    </div>
  </div>


  <div class="gallery-container w-1 h-2">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391826/SLOWWAVE/DSCF4162_u6rlfx.jpg" alt="mountain">
      </div>
    </div>
  </div>


  <div class="gallery-container w-2 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391807/SLOWWAVE/cementery_yjhi4s.jpg" alt="portrait">
      </div>
    </div>
  </div>


  <div class="gallery-container w-2 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678647372/SLOWWAVE/DSCF3966_editada_comp_c43q3m.jpg" alt="bike">
      </div>
    </div>
  </div>

  <div class="gallery-container w-2 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1726497987/SLOWWAVE/DSCF6066_tuojfc.jpg" alt="bike">
      </div>
    </div>
  </div>

    <div class="gallery-container w-3 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391813/SLOWWAVE/DSCF3375-1_apoia0.jpg" alt="bike">
      </div>
    </div>
  </div>

    <div class="gallery-container w-3 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1678391837/SLOWWAVE/DSCF4123_txxxdv.jpg" alt="bike">
      </div>
    </div>
  </div>

    <div class="gallery-container w-6 h-3">
    <div class="gallery-item">
      <div class="image">
        <img src="https://res.cloudinary.com/camilogzlez/image/upload/v1726498676/SLOWWAVE/DSCF4294_kgymau.jpg" alt="bike">
      </div>
    </div>
  </div>

</div>



