
  <div class ="containersup">
  
      <% @photos.each do |photo| %>
    <div class="gallery-container w-2">
          <div class="gallery-item">
            <div class="image">

         
               <a href = <%= cl_image_path photo.photo.key, alt: "photo"%>>
              <%= cl_image_tag photo.photo.key, alt: "photo"%>
             </a>
      
            </div>
        </div>
    </div>
      <% end %>

  </div>